
# Playwright
test-framework/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
metamask.txt
node_modules/
mock-sdk-server/
test-artifact/
test-results/
playwright-report/
.DS_Store
.idea/
